{% extends 'base.html' %}

{% block extra_head %}
    {{ form.media }}
{% endblock extra_head %}

{% block content %}
    <div class="col-sm-6">
        <h1>Preview</h1>
        <hr/>
        <div class="content-preview">
            <h3 id="preview-title"></h3>
            <p id="preview-content"></p>
        </div>
    </div>
    <div class="col-sm-6">
        <h1>Form</h1>
        <hr/>
        <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-default">
        </form>
    </div>
{% endblock content %}
